rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /properties/{propertyId} {
      // Allow anyone to read properties
      allow read: if true;

      // Allow authenticated users to create properties
      allow create: if request.auth != null;

      // Allow users to update or delete their own properties
      allow update, delete: if request.auth != null && resource.data.userId == request.auth.uid;
    }

    match /savedProperties/{savedPropertyId} {
        // A user can read (get/list) and delete their own saved properties
        allow read, delete: if request.auth != null && request.auth.uid == resource.data.userId;

        // A user can create their own saved properties
        allow create: if request.auth != null && request.auth.uid == request.resource.data.userId;
    }

    // You might have other collections with different rules
    // For example, a 'users' collection
    match /users/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
  }
}
