rules_version = '2';
service firebase.storage {
  match /b/subnaka-web-32789209-56c4c.appspot.com/o {
    match /property-images/{userId}/{allPaths=**} {
      allow read: if true;
      allow write: if request.auth != null && request.auth.uid == userId;
    }
  }
}
